/* I moved div by div not classes then ID's */

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 25, 25);
}

.upper-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3D8361;
    width: 100%;
}

.lower-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D6CDA4;
    width: 100%;
}

.tittle{
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

.image-tittle{
    display: flex;
}

.footprint{
    width: 50px;
    height: 50px;
}

.image-tittle-text{
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #EEF2E6;
}

.image-result{
    display: flex;
    background-color:gray;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 20px;
}

#name{
    width: 300px;
    height: 30px;
    background-color: #EEF2E6;
}

.note{
    color: #1C6758;
    font-weight: bold;
}

#predict-btn{
    background-color: #1C6758;
    border:#1C6758;
    border-radius: 10%;
    font-size: larger;
    color:  #EEF2E6;
    cursor: pointer;
    margin: 10px;
    width: fit-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#greeting{
    font-size: 32px;
    font-weight: bolder;
    color: #1C6758;
}

.results-tittle{
    font-size: 32px;
    font-weight: bolder;
    color: #1C6758;
}

.results-container{
    display: flex;
    flex-direction: column;
    font-size: larger;
    color:  #1C6758;
}
/* here i put the additional info */
button:active{
    transform: scale(0.9);
}

.result-text{
    color: #483838;
    font-weight: bold;
}