/* I moved div by div not classes then ID's */

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(27, 25, 25);
}

.tittle{
    font-weight: bolder;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

.image-tittle{
    display: flex;
}

.footprint{
    width: 50px;
    height: 50px;
}

.image-tittle-text{
    background-color: white;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: royalblue;
}

.image-result{
    display: flex;
    background-color:gray;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    margin: 20px;
}

#name{
    width: 200px;
}

.note{
    color: red;
    font-weight: bold;
}

#predict-btn{
    background-color: white;
    border:royalblue;
    border-radius: 10%;
    font-size: larger;
    color: royalblue;
    cursor: pointer;
    margin: 10px;
    width: fit-content;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#results-tittle{
    font-size: 32px;
    font-weight: bolder;
    color: white;
}

.results-container{
    display: flex;
    flex-direction: column;
    font-size: larger;
    color: royalblue;
}
/* here i put the additional info */
button:active{
    transform: scale(0.9);
}